/* HTML Elements */

p, a {
font-size:20px;
}

html, body {
margin:0;
}

body {
background: lightgray;
}



/* IDs */



#footer{
    position:absolute;
    bottom:0;
    width:1300px;
    height:75px;
    background:#00334e;
    color:red;
    padding-top:30px;
    text-align:center;
    border-top: 5px solid red;
    margin-top:20px;
    margin-left:auto;
    text-decoration-style: none;

}

#heading{
width:1300px;
height:100px;
background:#00334e;
color:red;
padding-top:30px;
text-align:center;
border-bottom: 5px solid red;
}

#images {
width:1300px;
height:440px;
background:#5588a3;
margin-top:20px;
margin-bottom:20px;

}

#para{
    text-align:center;
    }

#wrapper {
    position:relative;
    width:1300px;
    margin: 0 auto 0 auto;
    min-height:100%;
    }


.picimage {
width:400px;
height:400px;
float:left;
padding-top:20px;
padding-bottom:20px;
padding-left:25px;

}

/* Classes */


/* Used for stick footer */

.content-wrap {
    padding-bottom:125px;
    
    }

.footer-link {
text-decoration:none;
color:red;
}

.footer-link:hover {
color:#e8e8e8;
}

.web-link{
color:#00334e;
}